extends ../layout

block stylesheets
  link(rel='stylesheet' href='//cdn.quilljs.com/1.1.0/quill.snow.css' type='text/css')

block title
  title= 'Editing ' + post.title

block user
  span.nav-item
    a.button.is-danger(href='/story/'+post.id)
      //- span.icon
      //-   i.fa.fa-pencil
      | Cancel

block content
  .columns.is-narrow-desktop
    .column.is-half.is-offset-one-quarter
      .box
        h1.title Editing
        each m in errors
          .notification.is-danger
            button.delete
            = m.msg
        form(action='' method='POST')
          p.control
            input.input(name='title', placeholder='This is a title', value=post.title)
            label.label(for='title') Title
          p.control
            input.input(name='url' type='text', placeholder='http://...', value=post.url)
            label.label(for='url') URL
          p.control
            label.label(for="text") Text
            input(name="text" type="hidden")
            #editor-container !{post.text}
            br
          button.button.is-primary(type='submit') Save
        hr
        form(action='/story/'+post.id+'/delete', method='POST')
          input(name='delete',hidden=true,value=post.id)
          p.subtitle.has-text-centered= 'Delete this story?'
          button.button.is-fullwidth.is-danger(type='submit',onclick='return confirm("Are you sure you want to delete?");') Delete
          br
          br
block scripts
  script(src='//cdn.quilljs.com/1.1.0/quill.js')
  script(src='/public/js/editor.js')
