extends ../layout
block title
  title Home

block content
  .columns
    .column.is-8.is-offset-2
      each post in posts
        .box
          article.media
            .media-content
              .content
                p
                  if post.url
                    a(href=post.url,target='_blank')=post.title
                    span.is-disabled=' ('+post.root+')'
                  else
                    a(href='/story/'+post.id,target='_blank')=post.title
                  br
              nav.level
                .level-left
                  .level-item
                    a.tag.is-primary.is-outlined(href='/story/'+post.id) Comments
                  .level-item
                    u.created-at= moment(post.createdAt).fromNow()
                    = ' from '
                    a(href='/'+post.User.username)= post.User.name

  include ../includes/_paginate
